body{
    background-color: gainsboro;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color:white;
    display: flex;
    
}
.navlist{
    display: flex;
    margin:0 50px ;
    padding: 0 10px;
    align-items: center;
    list-style: none;
}
.navlist li{
    padding: 0 25px;
    cursor: pointer;
    font-size: smaller;
    
}

.navimg{
    height: 40px;
    margin-left: 10px;
}
.navlogospan{
    margin-left: 5px;
    font-weight: bolder;
}
.imglogo{
    display: flex;
    align-items: center;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    
   

}
.centerbox{
    display: flex;
    background-image: url(./photos/backgroundimg2.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    width: 80%;
    height: 95%;
}
.songholder{
    
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;

}
.songholdertittle{
    width: 80%;
    margin: 30px 0 30px 0;
    font-size: 2rem;
}

.songnameholder{
    background-color: white;
    width: 70%;
    border-radius:34px ;
    color: black;
    display: flex;
    justify-content: space-between;
    margin:5px 71px 5px 0;
    height: 30px;

}
.albumname{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:smaller;
    font-weight: bold;
    
}
.albumduration{
    font-size: smaller;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


.albumplaybtn{
    width: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.futurework{
    
    
    width: 50%;
    
    background-size: cover;
    background-position: right;
    
}

.albumimg{
    width: 33px;
    border-radius: 50%;
    height: 31px;
}







.footer{
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rangeslider{
    width: 60%;
    margin-top: 6px;
}
.progressbar{
    width: 100%;
    cursor: pointer;
}
.lastfootercontainer{
    display: flex;
    width: 60%;
}
.footersongshower{
    
    width: 50%;
}
.footergif{
    height: 25px;
    margin: 5px 15px 0px 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out ;
    
    
}
.footersongname{
    font-size: bolder;
}
.footersongcontroller{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 5px;
    margin-right: 304px;

}
.controlbtn{
    border-radius: 51%;
    height: 31px;
    padding: 0 4%;
    
    cursor: pointer;
}